In [99]:
#importing stuff we need later
import pandas as pd 
import csv

#taking the names of datasets we need to mesh - IMPORTANT: Datasets should be ordered by year and by NUTS code (this has to be done in the .csv file by selecting everything and order it by TIME first and CODE second)
name_1='FIRST DATASET.csv'
name_2='SECOND DATASET.csv'
name_dataset = "FINAL DATASET.csv"

In [96]:
#reading the first dataset to mesh

data_1 = pd.read_csv(name_1, encoding = "ISO-8859-1")
data_1.head(15)

,TIME,GEO_NAME,GEO,INDIC_AG,HECTARES,SE_LEVELS,SE_SECTOR,TONNES PER HECTARE,IRRIGATION,CROPS
35838,2019,UKM7,Eastern Scotland,High-input farms,"218,068",Null,Null,Null,Null,Null
35839,2019,UKM7,Eastern Scotland,Low-input farms,"327,579",Null,Null,Null,Null,Null
35840,2019,UKM7,Eastern Scotland,Medium-input farms,"274,812",Null,Null,Null,Null,Null
35841,2019,UKM8,West Central Scotland,High-input farms,"11,178",Null,Null,Null,Null,Null
35842,2019,UKM8,West Central Scotland,Low-input farms,"44,550",Null,Null,Null,Null,Null
35843,2019,UKM8,West Central Scotland,Medium-input farms,"3,489",Null,Null,Null,Null,Null
35844,2019,UKM9,Southern Scotland,High-input farms,"245,570",Null,Null,Null,Null,Null
35845,2019,UKM9,Southern Scotland,Low-input farms,"687,365",Null,Null,Null,Null,Null
35846,2019,UKM9,Southern Scotland,Medium-input farms,"364,834",Null,Null,Null,Null,Null
35847,2019,UKN0,Northern Ireland,High-input farms,"374,004",Null,Null,Null,Null,Null
35848,2019,UKN0,Northern Ireland,Low-input farms,"472,574",Null,Null,Null,Null,Null
35849,2019,UKN0,Northern Ireland,Medium-input farms,"414,206",Null,Null,Null,Null,Null
35850,2019,UKN0,Northern Ireland,High-input farms,"374,004",Null,Null,Null,Null,Null
35851,2019,UKN0,Northern Ireland,Low-input farms,"472,574",Null,Null,Null,Null,Null
35852,2019,UKN0,Northern Ireland,Medium-input farms,"414,206",Null,Null,Null,Null,Null

In [98]:
#reading the second file to mesh

data_2 = pd.read_csv(name_2, encoding = "ISO-8859-1")
data_2.head(15)

,TIME,GEO_NAME,GEO,GREEN_POL,SRC_CRF,THOUSAND_TONNES,AIRPOL,AIRPOL_VALUE,RDB_CODE,RDB_NAME,WATER_POL_PERCENTAGE
7748,2019,UK,United Kingdom,Perfluorocarbones (CO2 equivalent),Agriculture,:,Null,Null,Null,Null,Null
7749,2019,UK,United Kingdom,Hydrofluorocarbones and perfluorocarbones - no...,Agriculture,:,Null,Null,Null,Null,Null
7750,2019,UK,United Kingdom,Sulphur hexafluoride (CO2 equivalent),Agriculture,:,Null,Null,Null,Null,Null
7751,2019,UK,United Kingdom,Nitrogen trifluoride (CO2 equivalent),Agriculture,:,Null,Null,Null,Null,Null
7752,2019,UK,United Kingdom,"Greenhouse gases (CO2, N2O in CO2 equivalent, ...","Land use, land use change, and forestry (LULUCF)","5,946.15",Null,Null,Null,Null,Null
7753,2019,UK,United Kingdom,Carbon dioxide,"Land use, land use change, and forestry (LULUCF)","-1,025.39",Null,Null,Null,Null,Null
7754,2019,UK,United Kingdom,Methane,"Land use, land use change, and forestry (LULUCF)",195.89,Null,Null,Null,Null,Null
7755,2019,UK,United Kingdom,Methane (CO2 equivalent),"Land use, land use change, and forestry (LULUCF)","4,897.28",Null,Null,Null,Null,Null
7756,2019,UK,United Kingdom,Nitrous oxide,"Land use, land use change, and forestry (LULUCF)",6.96,Null,Null,Null,Null,Null
7757,2019,UK,United Kingdom,Nitrous oxide (CO2 equivalent),"Land use, land use change, and forestry (LULUCF)","2,074.26",Null,Null,Null,Null,Null
7758,2019,UK,United Kingdom,Hydrofluorocarbones (CO2 equivalent),"Land use, land use change, and forestry (LULUCF)",:,Null,Null,Null,Null,Null
7759,2019,UK,United Kingdom,Perfluorocarbones (CO2 equivalent),"Land use, land use change, and forestry (LULUCF)",:,Null,Null,Null,Null,Null
7760,2019,UK,United Kingdom,Hydrofluorocarbones and perfluorocarbones - no...,"Land use, land use change, and forestry (LULUCF)",:,Null,Null,Null,Null,Null
7761,2019,UK,United Kingdom,Sulphur hexafluoride (CO2 equivalent),"Land use, land use change, and forestry (LULUCF)",:,Null,Null,Null,Null,Null
7762,2019,UK,United Kingdom,Nitrogen trifluoride (CO2 equivalent),"Land use, land use change, and forestry (LULUCF)",:,Null,Null,Null,Null,Null

In [100]:
#scanning columns names and making a list containing all the colums names without duplicates
key_1=data_1.columns
key_2=data_2.columns
key_to_write=[]
for key in key_1:
    if key not in key_to_write:
        key_to_write.append(key)
for key2 in key_2:
    if key2 not in key_to_write:
        key_to_write.append(key2)
print(key_to_write)

['TIME', 'GEO_NAME', 'GEO', 'INDIC_AG', 'HECTARES', 'SE_LEVELS', 'SE_SECTOR', 'TONNES PER HECTARE', 'IRRIGATION', 'CROPS', 'GREEN_POL', 'SRC_CRF', 'THOUSAND_TONNES', 'AIRPOL', 'AIRPOL_VALUE', 'RDB_CODE', 'RDB_NAME', 'WATER_POL_PERCENTAGE']

In [92]:
#creating list to populate rows in the dataset

df_1=pd.DataFrame(data_1)
df_2=pd.DataFrame(data_2)
rows_to_add = []
row_to_add=[]
time = ""
geo_name = ""

def convert(list):
    return tuple(list)

for index, row in df_1.iterrows():
    for index_1, row_1 in df_2.iterrows():
        if (row["TIME"]<row_1["TIME"]):
            for item in row:
                row_to_add.append(item)
            #this number of Null corresponds to columns in the second dataset that the first does not have
            row_to_add.append("Null")
            row_to_add.append("Null")
            row_to_add.append("Null")
            convert(row_to_add)
            rows_to_add.append(row_to_add)
            row_to_add=[]
            time = row["TIME"]
            geo_name = row["GEO_NAME"]
            df_1.drop(index, inplace=True)
            break
        elif (row["TIME"]>row_1["TIME"]):
            for item in row_1[:3]:
                row_to_add.append(item)
            #this number of Null corresponds to columns in the first dataset that the second does not have
            row_to_add.append("Null")
            for item in row_1[3:]:
                row_to_add.append(item) 
            convert(row_to_add)
            rows_to_add.append(row_to_add)
            row_to_add=[]
            time = row_1["TIME"]
            geo_name = row_1["GEO_NAME"]
            df_2.drop(index_1, inplace=True)
        elif (row["TIME"]==row_1["TIME"]) & (row["GEO_NAME"]==row_1["GEO_NAME"]):
            for item in row:
                row_to_add.append(item)
            for item in row_1[3:]:
                row_to_add.append(item)
            convert(row_to_add)
            rows_to_add.append(row_to_add)
            row_to_add=[]
            time = row["TIME"]
            geo_name = row["GEO_NAME"]
            df_2.drop(index_1, inplace=True)
            df_1.drop(index, inplace=True)
            index_1+=1
            break
        elif (row["TIME"]==time) & (row["GEO_NAME"]==geo_name):
            for item in row:
                row_to_add.append(item)
            #this number of Null corresponds to columns in the second dataset that the first does not have
            row_to_add.append("Null")
            row_to_add.append("Null")
            row_to_add.append("Null")
            convert(row_to_add)
            rows_to_add.append(row_to_add)
            row_to_add=[]
            time = row["TIME"]
            geo_name = row["GEO_NAME"]
            df_1.drop(index, inplace=True)
            break
        elif (row_1["TIME"]==time) & (row_1["GEO_NAME"]==geo_name):
            for item in row_1[:3]:
                row_to_add.append(item)
            #this number of Null corresponds to columns in the first dataset that the second does not have
            row_to_add.append("Null")
            for item in row_1[3:]:
                row_to_add.append(item) 
            convert(row_to_add)
            rows_to_add.append(row_to_add)
            row_to_add=[]
            time = row_1["TIME"]
            geo_name = row_1["GEO_NAME"]
            df_2.drop(index_1, inplace=True)
        elif (row["GEO_NAME"][:2]>row_1["GEO_NAME"][:2]) & (row["TIME"]==row_1["TIME"]) | (row["GEO_NAME"][:2]==row_1["GEO_NAME"][:2]) | (row["GEO_NAME"]>row_1["GEO_NAME"]):
            if (geo_name==""):
                geo_name=row["GEO_NAME"]
            if (geo_name!=row_1["GEO_NAME"]) | (row["GEO_NAME"]<row_1["GEO_NAME"]):
                for item in row_1[:3]:
                    row_to_add.append(item)
                #this number of Null corresponds to columns in the first dataset that the second does not have
                row_to_add.append("Null")
                for item in row_1[3:]:
                    row_to_add.append(item) 
                convert(row_to_add)
                rows_to_add.append(row_to_add)
                row_to_add=[]
                time = row_1["TIME"]
                geo_name = row_1["GEO_NAME"]
                df_2.drop(index_1, inplace=True)
            else:
                for item in row:
                    row_to_add.append(item)
                #this number of Null corresponds to columns in the second dataset that the first does not have
                row_to_add.append("Null")
                row_to_add.append("Null")
                row_to_add.append("Null")
                convert(row_to_add)
                rows_to_add.append(row_to_add)
                row_to_add=[]
                time = row["TIME"]
                geo_name = row["GEO_NAME"]
                df_1.drop(index, inplace=True)
                print (rows_to_add)
                break
        elif (row["GEO_NAME"][:2]<=row_1["GEO_NAME"][:2]) & (row["TIME"]==row_1["TIME"]) | (row["GEO_NAME"][:2]==row_1["GEO_NAME"][:2]) | (row["GEO_NAME"]<row_1["GEO_NAME"]):
            if (geo_name==row["GEO_NAME"]) | (row["GEO_NAME"]>row_1["GEO_NAME"]):
                for item in row_1[:3]:
                    row_to_add.append(item)
                #this number of Null corresponds to columns in the first dataset that the second does not have
                row_to_add.append("Null")
                for item in row_1[3:]:
                    row_to_add.append(item) 
                convert(row_to_add)
                rows_to_add.append(row_to_add)
                row_to_add=[]
                time = row_1["TIME"]
                geo_name = row_1["GEO_NAME"]
                df_2.drop(index_1, inplace=True)
            else:
                for item in row:
                    row_to_add.append(item)
                #this number of Null corresponds to columns in the second dataset that the first does not have
                row_to_add.append("Null")
                row_to_add.append("Null")
                row_to_add.append("Null")
                convert(row_to_add)
                rows_to_add.append(row_to_add)
                row_to_add=[]
                time = row["TIME"]
                geo_name = row["GEO_NAME"]
                df_1.drop(index, inplace=True)
                break

if len(df_1.index)>0: 
    for index_3, row_3 in df_1.iterrows():
        for item in row_3:
            row_to_add.append(item)
       #this number of Null corresponds to columns in the second dataset that the first does not have
        row_to_add.append("Null")
        row_to_add.append("Null")
        row_to_add.append("Null")
        convert(row_to_add)
        rows_to_add.append(row_to_add)
        row_to_add=[]
if len(df_2.index)>0: 
    for index_4, row_4 in df_2.iterrows():
        print (index_4)
        for item in row_4[:3]:
            row_to_add.append(item)
       #this number of Null corresponds to columns in the first dataset that the second does not have
        row_to_add.append("Null")
        for item in row_4[3:]:
            row_to_add.append(item) 
        convert(row_to_add)
        rows_to_add.append(row_to_add)
        row_to_add=[]

In [93]:

#populating new dataset

with open(name_dataset, encoding= "ISO-8859-1", mode='w') as my_file:
    my_writer = csv.writer(my_file, delimiter=',', quotechar='"', quoting=csv.QUOTE_ALL)
    # write the column names
    my_writer.writerow(key_to_write)
    
    # access the rows of the query results
    for item in rows_to_add:
        # write in the csv
        my_writer.writerow(item)