In [1]:
#importing stuff we need later
import pandas as pd 
import csv

#taking the names of datasets we need to mesh - IMPORTANT: Datasets should be ordered by year and by NUTS code (this has to be done in the .csv file by selecting everything and order it by TIME first and CODE second)
name_1='M2- Water and Agriculture.csv'
name_2='M-Air and Greenhouse.csv'
name_dataset = "Pollution_dataset.csv"

In [2]:
#reading the first dataset to mesh

data_1 = pd.read_csv(name_1, encoding = "ISO-8859-1")
data_1.head(15)

,TIME,GEO_NAME,GEO,IRRIGATION,CROPS,RDB_CODE,RDB_NAME,WATER_POL_PERCENTAGE,INDIC_AG,HECTARES,SE_LEVELS,SE_SECTOR,TONNES PER HECTARE
0,2010,AT,Austria,Irrigable,3.2,Null,Null,Null,Null,Null,Null,Null,Null
1,2010,AT,Austria,Null,Null,Null,Null,Null,High-input farms,"963,256",Null,Null,Null
2,2010,AT,Austria,Irrigated,0.9,Null,Null,Null,Null,Null,Null,Null,Null
3,2010,AT,Austria,Null,Null,Null,Null,Null,Null,Null,Total,Agricultural areas (excluding pastures),5
4,2010,AT,Austria,Null,Null,Null,Null,Null,Low-input farms,"960,426",Null,Null,Null
5,2010,AT,Austria,Null,Null,Null,Null,Null,Null,Null,Moderate,Agricultural areas (excluding pastures),7.1
6,2010,AT,Austria,Null,Null,Null,Null,Null,Medium-input farms,"966,845",Null,Null,Null
7,2010,AT,Austria,Null,Null,Null,Null,Null,Null,Null,Severe,Agricultural areas (excluding pastures),18.6
8,2010,AT,Austria,Null,Null,Null,Null,Null,Null,Null,Total,Pastures and natural grassland,10.2
9,2010,AT,Austria,Null,Null,Null,Null,Null,Null,Null,Moderate,Pastures and natural grassland,7.4
10,2010,AT,Austria,Null,Null,Null,Null,Null,Null,Null,Severe,Pastures and natural grassland,19.1
11,2010,AT1,Ostösterreich,Null,Null,Null,Null,Null,High-input farms,"368,358",Null,Null,Null
12,2010,AT1,Ostösterreich,Null,Null,Null,Null,Null,Low-input farms,"276,171",Null,Null,Null
13,2010,AT1,Ostösterreich,Null,Null,Null,Null,Null,Medium-input farms,"538,077",Null,Null,Null
14,2010,AT11,Burgenland,Irrigable,12.2,Null,Null,Null,Null,Null,Null,Null,Null

In [3]:
#reading the second file to mesh

data_2 = pd.read_csv(name_2, encoding = "ISO-8859-1")
data_2.head(15)

,TIME,GEO_NAME,GEO,GREEN_POL,SRC_CRF,THOUSAND_TONNES,AIRPOL,AIRPOL_VALUE
0,2010,AT,Austria,"Greenhouse gases (CO2, N2O in CO2 equivalent, ...",Agriculture,"7,095.32",Null,Null
1,2010,AT,Austria,Null,Null,Null,Nitrogen oxides,"204,450"
2,2010,AT,Austria,Carbon dioxide,Agriculture,103.07,Null,Null
3,2010,AT,Austria,Null,Null,Null,Sulphur oxides,"15,990"
4,2010,AT,Austria,Methane,Agriculture,187.01,Null,Null
5,2010,AT,Austria,Null,Null,Null,Ammonia,"62,880"
6,2010,AT,Austria,Methane (CO2 equivalent),Agriculture,"4,675.31",Null,Null
7,2010,AT,Austria,Null,Null,Null,Particulates < 2.5µm,"19,810"
8,2010,AT,Austria,Nitrous oxide,Agriculture,7.77,Null,Null
9,2010,AT,Austria,Null,Null,Null,Particulates < 10µm,"32,030"
10,2010,AT,Austria,Nitrous oxide (CO2 equivalent),Agriculture,"2,316.94",Null,Null
11,2010,AT,Austria,Null,Null,Null,Non-methane volatile organic compounds,"137,900"
12,2010,AT,Austria,Hydrofluorocarbones (CO2 equivalent),Agriculture,:,Null,Null
13,2010,AT,Austria,Perfluorocarbones (CO2 equivalent),Agriculture,:,Null,Null
14,2010,AT,Austria,Hydrofluorocarbones and perfluorocarbones - no...,Agriculture,:,Null,Null

In [4]:
#scanning columns names and making a list containing all the colums names without duplicates
key_1=data_1.columns
key_2=data_2.columns
key_to_write=[]
for key in key_1:
    if key not in key_to_write:
        key_to_write.append(key)
for key2 in key_2:
    if key2 not in key_to_write:
        key_to_write.append(key2)
print(key_to_write)

null_1= len(key_to_write)-len(key_2)
null_2= len(key_to_write)-len(key_1)

['TIME', 'GEO_NAME', 'GEO', 'IRRIGATION', 'CROPS', 'RDB_CODE', 'RDB_NAME', 'WATER_POL_PERCENTAGE', 'INDIC_AG', 'HECTARES', 'SE_LEVELS', 'SE_SECTOR', 'TONNES PER HECTARE', 'GREEN_POL', 'SRC_CRF', 'THOUSAND_TONNES', 'AIRPOL', 'AIRPOL_VALUE']

In [32]:
print("BE"<"AT11")

False

In [5]:
#creating list to populate rows in the dataset

df_1=pd.DataFrame(data_1)
df_2=pd.DataFrame(data_2)
rows_to_add = []
row_to_add=[]


def convert(list):
    return tuple(list)

for index, row in df_1.iterrows():
    for index_1, row_1 in df_2.iterrows():
        if (row["TIME"]<row_1["TIME"]):
            for item in row:
                row_to_add.append(item)
            #this number of Null corresponds to columns in the second dataset that the first does not have
            c=0
            while (c<null_2):
                row_to_add.append("Null")
                c+=1
            convert(row_to_add)
            rows_to_add.append(row_to_add)
            row_to_add=[]
            df_1.drop(index, inplace=True)
            break
        elif (row["TIME"]>row_1["TIME"]):
            for item in row_1[:3]:
                row_to_add.append(item)
            #this number of Null corresponds to columns in the first dataset that the second does not have
            c=0
            while (c<null_1):
                row_to_add.append("Null")
                c+=1
            for item in row_1[3:]:
                row_to_add.append(item) 
            convert(row_to_add)
            rows_to_add.append(row_to_add)
            row_to_add=[]
            df_2.drop(index_1, inplace=True)
        elif (row["TIME"]==row_1["TIME"]) & (row["GEO_NAME"]==row_1["GEO_NAME"]):
            for item in row:
                row_to_add.append(item)
            c=0
            while (c<null_2):
                row_to_add.append("Null")
                c+=1
            convert(row_to_add)
            rows_to_add.append(row_to_add)
            row_to_add=[]
            
            for item in row_1[:3]:
                row_to_add.append(item)
            #this number of Null corresponds to columns in the first dataset that the second does not have
            c=0
            while (c<null_1):
                row_to_add.append("Null")
                c+=1
            for item in row_1[3:]:
                row_to_add.append(item) 
            convert(row_to_add)
            rows_to_add.append(row_to_add)
            row_to_add=[]
            df_2.drop(index_1, inplace=True)
            df_1.drop(index, inplace=True)
            index_1+=1
            break
        elif (row["TIME"]==row_1["TIME"]) & (row["GEO_NAME"]<row_1["GEO_NAME"]):
            for item in row:
                row_to_add.append(item)
            #this number of Null corresponds to columns in the second dataset that the first does not have
            c=0
            while (c<null_2):
                row_to_add.append("Null")
                c+=1
            convert(row_to_add)
            rows_to_add.append(row_to_add)
            row_to_add=[]
            df_1.drop(index, inplace=True)
            break
        elif (row["TIME"]==row_1["TIME"]) & (row["GEO_NAME"]>row_1["GEO_NAME"]):
            for item in row_1[:3]:
                row_to_add.append(item)
            #this number of Null corresponds to columns in the first dataset that the second does not have
            c=0
            while (c<null_1):
                row_to_add.append("Null")
                c+=1
            for item in row_1[3:]:
                row_to_add.append(item) 
            convert(row_to_add)
            rows_to_add.append(row_to_add)
            row_to_add=[]
            df_2.drop(index_1, inplace=True)

if len(df_1.index)>0: 
    for index_3, row_3 in df_1.iterrows():
        for item in row_3:
            row_to_add.append(item)
       #this number of Null corresponds to columns in the second dataset that the first does not have
        c=0
        while (c<null_2):
            row_to_add.append("Null")
            c+=1
        convert(row_to_add)
        rows_to_add.append(row_to_add)
        row_to_add=[]
if len(df_2.index)>0: 
    for index_4, row_4 in df_2.iterrows():
        print (index_4)
        for item in row_4[:3]:
            row_to_add.append(item)
       #this number of Null corresponds to columns in the first dataset that the second does not have
        c=0
        while (c<null_1):
            row_to_add.append("Null")
            c+=1
        for item in row_4[3:]:
            row_to_add.append(item) 
        convert(row_to_add)
        rows_to_add.append(row_to_add)
        row_to_add=[]

In [6]:

#populating new dataset

with open(name_dataset, encoding= "ISO-8859-1", mode='w') as my_file:
    my_writer = csv.writer(my_file, delimiter=',', quotechar='"', quoting=csv.QUOTE_ALL)
    # write the column names
    my_writer.writerow(key_to_write)
    
    # access the rows of the query results
    for item in rows_to_add:
        # write in the csv
        my_writer.writerow(item)